html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.cbox {
	display: inline-block;
	width: 14px;
	height: 14px;
	cursor: pointer;
	vertical-align: middle;
	-webkit-appearance: none;
}

.cbox-default {
	background: url(../images/checkbox.png) no-repeat;
	background-size: 90%;
}

.cbox-checked {
	background: url(../images/checkbox-checked.png) no-repeat;
	background-size: 90%;
}

input.cbox {
	display: inline-block;
	width: 14px;
	height: 14px;
	cursor: pointer;
	vertical-align: middle;
	-webkit-appearance: none;
	background: url(../images/checkbox.png) no-repeat;
	background-size: 90%;
}

input.cbox:checked {
	background: url(../images/checkbox-checked.png) no-repeat;
	background-size: 90%;
}



:root {
	--main-color: rgb(31, 221, 176);
	--absolute-white: rgb(255, 255, 255);
	--shadow-color: rgb(153, 153, 153);
	--shadow-input: rgb(204, 204, 204);
	--input-default: rgb(239, 240, 244);
	--text-color: rgb(79, 83, 68);
	--alert-color: rgb(251, 95, 66);
	--link-color:rgb(168, 172, 185);
}

div {
	box-sizing: border-box;
}

.public-font {
	font-size: 14px;
}

.font-plus {
	font-size: 16px;
}

.font-minus {
	font-size: 12px;
}

.font-minus-2 {
	font-size: 10px;
}

.stack-on {
	position: absolute;
}

input {
	margin: 7px 0;
	padding: 14px;
	border: 1px solid var(--absolute-white);
	border-radius: 28px;
	background-color: var(--input-default) !important;
	outline: 0;
	box-sizing: border-box;
	color: var(--text-color) !important;
	text-align: center;
}

input:focus {
	background-color: var(--absolute-white) !important;
	box-shadow: 2px 4px 8px var(--shadow-input);
}


.text-center {
	text-align: center;
}

.have-point {
	cursor: pointer;
}

.index-bk {
	position: relative;
	height: 100%;
}

.index-bk-cg {
	animation-name: gradients;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-moz-animation: gradients 12s ease-in-out 0s infinite;
}

@keyframes gradients {
	0% {
		background: url(/image/bk_cg1.jpg) no-repeat;
		background-size: cover;
	}
	50% {
		background: url(/image/bk_cg2.jpg) no-repeat;
		background-size: cover;
	}
	100% {
		background: url(/image/bk_cg1.jpg) no-repeat;
		background-size: cover;
	}
}

.login-block {
	position: absolute;
	top: 15%;
	bottom: 15%;
	right: 132px;
	width: 25%;
	padding: 14px;
	border: 1px solid var(--absolute-white);
	border-radius: 8px;
	background-color: var(--absolute-white);
	box-sizing: border-box;
	box-shadow: 0 4px 16px var(--shadow-color);
}

.logo-panel {
	margin: 14px 0 0 0;
	height: 42px;
	background: url(/image/xlogo.png) no-repeat;
	background-size: 25%;
	background-position: center;
}

.login-form {
	margin: 0 auto;
	padding: 14px 28px 0 28px;
}

.login-button {
	display: block;
	padding: 12px 14px;
	border: 1px solid var(--main-color);
	border-radius:28px;
	background-color: var(--main-color);
	color: var(--absolute-white);
}

.form-line {
	position: relative;
	margin: 12px 0;
}

.form-line >article {
	color: var(--link-color);
}

.very-input {
	left: 0;
	width:66%;
}

.very-block {
	position: absolute;
	width: 32%;
	height: 44px;
	/*top: 23px;*/
	left: 68%;
	margin-top: 7px;
}

.very-block > canvas {
	border: 1px solid var(--input-default);
	border-radius: 50px;
}

.form-bottom {
	margin: 14px 0 7px 0;
}

.error-place {
	margin: 7px 0;
	color: var(--alert-color);
}

.login-link, .login-link:visited {
	color: var(--link-color);
}

.login-link:hover {
	color: var(--link-color);
}